<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevPail - About</title>
    <link rel="stylesheet" href="/static/css/style.min.css">
</head>
<body>
    <p>
        This is just a placeholder to test more Flask templates.
    </p>
    <p>
        <a href="/">Back to home</a>
    </p>
</body>
</html>